<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PhotoAlbum44/src/cs213/photoAlbum/simpleview/CmdView.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cs213.photoAlbum.simpleview.CmdView"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="adduser dbas &quot;Dheeptha Baskaran&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PhotoAlbum44"/>
</launchConfiguration>
